<turbo-frame id="posts">
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :body, as: :text %>
    <%= f.submit "Create Post" %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</turbo-frame>

<p> Below Form Select Element is for future styling of the Blog Post</p>
<select class="form-select" aria-label="Default select example" disabled>
  <option selected>Choose a Blog Type</option>
  <option value="1">Small Post</option>
  <option value="2">Your Average Blog Post, no more than 2000 words</option>
  <option value="3">Many pages long</option>
</select>
