<turbo-frame id="posts">
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :body, as: :text %>
    <button type="submit" class="btn btn-primary">Create Post</button>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>
</turbo-frame>

<p>Below Form Select Element is for future styling of the Blog Post</p>
<select class="form-select" aria-label="Default select example" disabled>
  <option selected>Choose a Blog Type</option>
  <option value="1">Small Post</option>
  <option value="2">Your Average Blog Post, no more than 2000 words</option>
  <option value="3">Many pages long</option>
</select>
