<div class="container">
  <div class="video">
    <p>Enjoy this Video while choosing a Blog Post to View</p>
     <%= get_video_iframe('https://www.youtube.com/watch?v=TlgSp2XPCY4&list=PL3mtAHT_eRezB9fnoIcKS4vYFjm23vddb', '1000px', '500px') %>
  </div>
  <%= render partial: "shared/search_form" %>
  <%= render 'shared/search_results', results: @results %>
  <div class="card">
    <% @posts.each do |post| %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <h1 class="text-2xl font-semibold text-gray-700"><%= post.title %></h1>
          <p class="text-xl font-light leading-relaxed text-gray-400 mt-5"><%= post.body %></p>
        </div>
      </div>
    <% end %>
  </div>

    <p aria-hidden="true">
    <span class="placeholder col-6"></span>
  </p>

  <a class="btn btn-primary disabled placeholder col-4" aria-disabled="true"></a>

  <%= link_to "New Blog Post", new_post_path, class: "btn btn-primary", data: { turbo_frame: "modal" }%>
</div>
