<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-extrabold dark:text-white p-4 ">
       <%= link_to "Blog by Conan", home_path %>
    </h1>
  </div>
     <main class="container mx-48 mt-64 max-w-5xl px-2 sm:px-6 lg:px-4">
        <%= yield %>
        <%= turbo_frame_tag "modal", target: "_top" %>
      </main>
      <%= render partial: 'shared/footer' %>
  </body>
</html>
