<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="text-3xl font-bold text-center text-blue-500">
      <%= link_to "Blog by Conan", home_path %>
    </h1>
     <main class="container mx-48 mt-64 max-w-5xl px-2 sm:px-6 lg:px-4">
        <%= yield %>
      </main>
      <%= render partial: 'shared/footer' %>

      <%= render 'shared/flashes' %>
  </body>
</html>
