<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex justify-center items-center">
    <%= link_to home_path do %>
      <h1 class="text-5xl font-extrabold dark:text-white">
        Blog<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">by Conan</small>
      </h1>
    <% end %>
  </div>
     <main class="container mx-48 mt-64 max-w-5xl px-2 sm:px-6 lg:px-4">
        <%= render partial: 'shared/navbar' %>
        <%= yield %>
        <%= turbo_frame_tag "modal", target: "_top" %>
      </main>
      <%= render partial: 'shared/footer' %>
  </body>
</html>
